
.header {
    text-align: center;
    padding: 10px;
    font-family: 'Comic sans ms';
    border-style: groove;
}

html {
    background-image: url("../images/EvilLair.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

body {
    max-width: 960px;
    padding: 1%;
    margin: auto;
    

}

form {
    float: right;
    width: 30%;
    padding: 20px;
}

button,
input[type="submit"] {
  padding: 5px 20px;
  margin: 5px 10px 10px 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #2332d6;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #bbb;
}

.villians {
    width: 70%;
    background: grey;
    display: flex;
    flex-wrap: wrap;
}

.villain-item {
    float: left;
    padding: 10px;
  }

  label {
    font-family: 'Bangers', cursive;
    margin-right: 1%;
    font-size: 1.5em;  
}






@media only screen and (max-width: 1000px) {
    html, body {
        min-height: 100%;
        background-repeat: no-repeat;
    }
    .gifLocation {
        flex-direction: column;
    }
    div {
        display: inline-block;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    img {
        max-width: 95%;
    }

}